<!DOCTYPE html>
<html>
    <head>
        <title>MKays awesome blog</title>
    </head>
    <body>
        <header>
            <h1><a href="/">MKays awesome blog</a></h1>
        </header>

        <article>
            <time>published: 02.06.2023, 16:23</time>
            <h2><a href="">This is my first post</a></h2>
            <p>This is my first post. Read it, check it out, be inspired!</p>
        </article>

        <article>
            <time>published: 14.06.2014, 12:14</time>
            <h2><a href="">This is my second post</a></h2>
            <p>Never liked latin. Why would I learn latin? One of the only things I would not repeat in my life.</p>
        </article>
    </body>
</html>